{{#each item}}
<figure class="item1"><img src={{img}}>
    <h2>{{header}}</h2>
    <figcaption class="caption"> {{caption}}
    <p>{{tags}}</p>
    </figcaption>
    <div class="button" id="button-2">
        <div id="slide"></div>
        <a data-toggle="modal" data-target="#modal" style="color: black; margin-bottom: 18px;"
            id="reg">Donate Now</a>
    </div>
</figure>
{{/each}}