{{#each item}}
<figure class="item1"><img src={{img}}>
    <h2>{{header}}</h2>
    <figcaption class="caption"> {{caption}}
    <p>{{tags}}</p>
    </figcaption>

    <div class="button" id="button-2" href="/donate">
        <div id="slide"></div>
        <a href="/donate" style="color: black; ;">Donate Now</a> 
    </div>   
</figure>
{{/each}}