<!--DELETE POST MODAL-->
<div id="container">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deletePost" style="text-align: center;">Delete Post?</h4>
                </div>
                    
                <div class="modal-body" style="text-align: center;">
                    <h5>Are you sure that you want to permanently delete this post?</h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="text-align: center;">Delete</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="text-align: center;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>