<!--EDIT MODAL-->
<div id="container">
    <div id="myModalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog" >
            <div class="modal-content">

                <div class="modal-header">
                  <h4 class="modal-title">Edit Form</h4>
                </div>

                <div class="modal-body">
                  <form class="form-inline d-flex">
                    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="upload(this);" style="display: none;"></p>
                    <p><label type="button" class ="btn btn-primary btn-space mx-2" for="file" style="cursor: pointer; width: 445px;">Upload Image</label></p>
                    
                    <div id="container">
                    </div>

                    <input type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="title" placeholder="Title" >
                    <textarea name="description" id="desc" cols="30" rows="10" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Description" style="width:800px"></textarea>
                    <input type="number" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="goal" placeholder="Target Funds (Optional)" style="width: 800px;">
                    <input type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="tags" placeholder="#Tags" style="width: 800px;">
                    <button type="submit" class ="btn btn-primary btn-space mx-auto">Post</button>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>