<div id="container">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Donation Form</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline d-flex flex-column" action="" onsubmit=""><input type="text"
                        placeholder="Card no." class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0"
                        id="username"><input type="text" placeholder="Amount"
                        class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="email"><input
                        type="password" placeholder="password"
                        class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="password1"><button
                        type="submit" class="btn btn-primary btn-space mx-auto">Donate</button></form>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-default"
                data-dismiss="modal">close</button>
				</div>
            </div>
        </div>
    </div>
</div>