<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Homepage</title>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

		
		<!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="viewstyle">
  <link rel="stylesheet" href="css/viewstyle.css">
  <link rel="stylesheet" href="css/header-search.css">
  <link rel="stylesheet" href="css/button.css">

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
 
	</head>
	{{> nav}} <!-- This is connected to the partials nav.hbs -->
	<body>
		{{{ body }}} <!-- THIS IS REQUIRED, body is a keyword. Notice it's 3 mustaches, not just 2. To escape HTML tags -->
		{{> footer}} <!-- This is connected to the partials footer.hbs -->
	

  <script src="js/grayscale.min.js"></script>
  <script src="js/script.js"></script>
  </body>
	
</html>