<title>Edit Profile</title>
<body id="page-top">

  <!-- Edit Profile Section -->
  <section id="login" class="login-section" style="height: auto;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto  text-center" >
        <img src = "img/bio.png" style="width:50px;height:50px;"></img>
        <h2 class="text-white mb-4">Edit Profile</h2>
        <form class="form-inline d-flex" enctype="multipart/form-data" action="/profile/edit" method="POST">
            <input name="_id" type="hidden" value="{{_id}}">
            <input name="image1" type="hidden" value="{{this.dp}}" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0">
           <div id="cont">
                <img src="{{dp}}" style="height: 500px; width:500px; margin-left:110px">
            </div>
             <p><input type="file"  accept="image/*" name="image" id="file"  onchange="upload(this);" style="display: none;"></p>
            <p><label type="button" class ="btn btn-primary btn-space mx-2" for="file" style="cursor: pointer; width: 715px;">Upload Image</label></p>

            <textarea type="text" name="bio" id="desc" cols="30" rows="10" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" style="width:800px;">{{bio}}</textarea>
            <button type="submit" class="btn btn-primary btn-space" style="margin:15px; margin-left:250px">Save</button>
            <a href="/profile#about" class="btn btn-space btn-default" style="background-color: rgba(255, 86, 86, 0.809);margin:15px; margin-right:200px;">Cancel</a>
        </form>
      </div>
    </div>
  </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>
</body>