<title>Create Post</title>
<body id="page-top">

  <!-- Create Post Section -->
  <section id="create" class="login-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <img src = "img/post.png" style="width:50px;height:50px;"></img>
          <h2 class="text-white mb-3">Create Post</h2>
          <div style="color: rgb(253, 124, 124);">{{> messages}}</div>
          <form class="form-inline d-flex" enctype="multipart/form-data" action="/makePost" method="POST"   >
            <p><input type="file"  accept="image/*" name="image" id="file"  onchange="upload(this);" style="display: none;"></p>
            <p><label type="button" class ="btn btn-primary btn-space mx-2" for="file" style="cursor: pointer; width: 715px;">Upload Image</label></p>
            
            <div id="cont">
            </div>

            <input name="header" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="title" placeholder="Title (max. of 30 characters)" >
            <textarea name="caption" id="desc" cols="30" rows="10" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Description (max. of 500 characters)" style="width:800px"></textarea>
            <!--<input name= "funds" type="number" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="goal" placeholder="Target Funds (Optional)" style="width: 800px;">-->
            <input name= "tags" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" id="tags" placeholder="#Tags" style="width: 800px;">

            <div id="donationinfo">
              Below are the accredited banks associated with this website. At least one donation channel must be filled out. Make sure that the Account Number and Account Name is correct. Otherwise, all donations will be lost.
            </div>

            <div id="donationForm">
              <img id="channelicon" src="../img/BDO.png" alt="">
              <input name="nameBDO" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Name" style="width: 185px;">
              <input name="numBDO" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Num." style="width: 185px;">
            </div>
            <div id="donationForm">
              <img id="channelicon" src="../img/BPI.png" alt="">
              <input name="nameBPI" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Name" style="width: 185px;">
              <input name="numBPI" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Num." style="width: 185px;">
            </div>
            <div id="donationForm">
              <img id="channelicon" src="../img/METROBANK.jpg" alt="">
              <input name="nameMETRO" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Name" style="width: 185px;">
              <input name="numMETRO" type="text" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-0" placeholder="Account Num." style="width: 185px;">
            </div>
            
            <button type="submit" class="btn btn-primary btn-space" style="margin:15px; margin-left:250px">Post</button>
            <a href="/profile#projects" class="btn btn-space btn-default" style="background-color: rgba(255, 86, 86, 0.809);margin:15px; margin-right:200px;">Cancel</a>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Enrico Luis Cuison</h4>
              <hr class="my-4">
              <div class="small text-black-50"> enrico_cuison@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Mari Jazzmine Ilagan</h4>
              <hr class="my-4">
              <div class="small text-black-50"> mari_ilagan@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Jacob Israel Salazar</h4>
              <hr class="my-4">
              <div class="small text-black-50"> jacob_salazar@dlsu.edu.ph </div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
</body>