<title>Donation Page</title>
<body id="page-top">

  <!-- Donate Section -->
  <section id="login" class="login-section" style="height: 1000px;">
    <div class="container" >
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto  text-center" >
          <img src = "img/donate.png" style="width:75px;height:75px;"></img>
          <h2 class="text-white mb-5">Donate</h2>

            <div id="donateForm" class="form-inline d-flex flex-column">
              <input type="" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-2" id="" placeholder="Name (optional)" style="width:450px;">
              <input type="" class="form-control flex-fill mr-auto mr-sm-2 mb-3 mb-sm-2" id="" placeholder="Donation Amount (in PHP)" style="width: 450px;">
            </div>
                
            <button id="donate" type="submit" class ="btn btn-primary btn-space mx-auto">Donate</button>
          </form>      
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Enrico Luis Cuison</h4>
              <hr class="my-4">
              <div class="small text-black-50"> enrico_cuison@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Mari Jazzmine Ilagan</h4>
              <hr class="my-4">
              <div class="small text-black-50"> mari_ilagan@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Jacob Israel Salazar</h4>
              <hr class="my-4">
              <div class="small text-black-50"> jacob_salazar@dlsu.edu.ph </div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
</body>