<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav" >
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Charity App</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Login Section -->
  <section id="login" class="login-section" style="height: 1200px;">
    // script
  <div class="container">
    <!-- LOGIN Section -->
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto  text-center">
        <img src = "img/login.png" style="width:50px;height:50px;"></img>
        <h2 class="text-white mb-5">Login</h2>

        <form class="form-inline d-flex" action = "veriifyLogin" method="POST" >
            <input name = "user" type="text" class="form-control flex-fill mr-0 mr-sm-0 mb-0 mb-sm-0" id="logusername" style="width: 225px;" placeholder="USERNAME">
            <input name = "pass" type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-2 mb-sm-0" id="logpassword" style="width: 225px;" placeholder="PASSWORD">
            <button type="submit" class ="btn btn-primary btn-space mx-auto" value="submit">Login</button>
            <div id="errmsg">
            </div>
        </form> 
      </div>
    </div>

    <!-- REGISTER Section -->
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center" style="margin-top: 2rem; margin-bottom:auto;">
          <img src = "img/register.png" style="width:75px;height:75px;"></img>
          <h2 class="text-white mb-1">Register</h2>

          <form class="form-inline d-flex" onsubmit="return" style="float: left;" >
            <input type="text" class="form-control flex-fill mr-1 mr-sm-2 mb-3 mb-sm-0" id="email" style="width:600px" placeholder="Email">
            <input type="text" class="form-control flex-fill mr-1 mr-sm-2 mb-3 mb-sm-0" id="username" style="width:600px" placeholder="Username">
            <input type="password" class="form-control flex-fill mr-2 mr-sm-2 mb-3 mb-sm-0" id="password" style="width:600px" placeholder="Password">
            <input type="password" class="form-control flex-fill mr-2 mr-sm-2 mb-3 mb-sm-0" id="regConfpassword" style="width:600px" placeholder="Confirm Password">
            <button type="submit" id="Register"class ="btn btn-primary  btn-space mx-auto" value="submit">Register</button>
          </form>          
               
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
			  <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Enrico Luis Cuison</h4>
              <hr class="my-4">
              <div class="small text-black-50"> enrico_cuison@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Mari Jazzmine Ilagan</h4>
              <hr class="my-4">
              <div class="small text-black-50"> mari_ilagan@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Jacob Israel Salazar</h4>
              <hr class="my-4">
              <div class="small text-black-50"> jacob_salazar@dlsu.edu.ph </div>
          </div>
        </div>
      </div>
	  
	 <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
</body>